<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="default Index Login" />
                <rule name="default Index Login" stopProcessing="true">
                    <match url="^([^/]+)/?" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Redirect" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
