/*custom*/
#shipment-chart,
#docs-aprvd-chart,
.d1-st,
#docs-pnd-chart,
#docs-msng-chart{
    display: none !important;
}
.default-st{
    display: block !important;
}
.img-radius{
    border-radius: 50%;
}