$default_color: #0404ca;

.main-sidebar {
    background-color: $default_color
}

.card-header {
    padding: 7px 12px;
}

.card-body {
    padding: 5px 12px;
}

.table {
    th {
        padding: 10px;
    }
    td {
        padding: 2px 10px;
    }
}