.file-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.file-footer-buttons {
    float: right;
}
.krajee-default .file-other-icon {
    line-height: 1.5 ;
}
.file-caption-name {
    display: inline-block;
    font-size: 13px;
    overflow-x: hidden;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.approved, .fa-thumbs-up {
    color: #28a745;
}
.pending, .fa-thumbs-down {
    color: #dc3545;
}
.fa-trash-alt {
    color: #ff0018fa;
}
.fa-comment {
    color: #007bff;
}

.bg-approved {
    background-color: #28a74650;
}
.bg-pending {
    background-color: #dc354650;
}