/* Data Tables */
table.dataTable {
    margin-top: 0 !important;
}
table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}
#DataTables_Table_0_processing{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
}
.dataTables_empty{
    text-align: center;
}
.dataTables_filter{
    display: none !important;
}
.dataTables_wrapper {
    position: relative;
}
/* Data Tables end */
.badge {
    cursor: pointer;
}
.ship-badge{
    position: relative;
    top: -13px;
}
td.stats {
    width: 75px;
    text-align: center;
}
td.stats:hover {
    background-color: #c3c3c36c;
    cursor: pointer;
}
td.stats .doc-stats:first-child > span {
    font-size: .8rem;
}
.doc-stats {
    display: inline-block;
}
.fa-spinner {
    color: #2962ff;
}
.daterangepicker .ranges{
    overflow: scroll;
    height: 226px;
}
.missing-background{
    background-color: #dc3545;
    border: 0.001px solid #fff;
}
.pending-background{
    background-color: #ffc107;
    border: 0.001px solid #fff;
}
.approved-background{
    background-color: #28a745;
    border: 0.001px solid #fff;
}
.assign-button{
    display: none;
}